<div>
    <ul class="list-inline">
        <li ng-Repeat="link in nav.links"><a ui-sref="{{link.sref}}">{{link.text}}</a></li>
    </ul>


    <div class="pull-right" ng-show="isLoggedIn">
        welcome {{loggedInUserName}}
        <a class="btn-primary" ng-click="doNavLogout()"  >Log Out</a>
    </div>

    <div class="pull-right" ng-hide="isLoggedIn">
        <input ng-model="username">
        <input ng-model="password">
        <a class="btn-primary" ng-click="doNavLogin(username,password)"  >LOG ME IN!!</a>
    </div>
    <hr>
</div>